.navbar {
    background-color:white; /* Dark background */
    color:black;
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    margin-top: 50px;
   
    
  }
  
  .logo {
    font-size: 24px;
    font-weight: bold;
    color:black;
  }
  
  .nav-menu {
    list-style-type: none;
    display: flex;
    margin: 0;
    padding: 0;
  }
  
  .nav-menu li {
    margin-right: 20px; /* Spacing between menu items */
  }
  
  .nav-menu li a {
    text-decoration: none;
    color:#000; /* White text color */
  }
  
  
  .ticket-button {
    background-color: #f32525; /* Pink background */
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 20px;
    cursor: pointer;
  }
  .bgimg2{
    display: flex;
    background-image: url(pexels-mido-4552531.jpg);
    background-size: contain;
    background-position: center;
    height: 100vh;
  }
  .b1{
    position:absolute;
    top: 240px;
    left: 40px;
    font-size: 50px;
  }
  .b2{
    position: absolute;
    bottom: 165px;
    left: 40px;
    font-size: 100px;
  }
  .b3{
    position: absolute;
    top:500px;
    left: 40px;
    font-size: 18px;
  }
  .contact-form {
    position: absolute;
    max-width: 400px;
    margin: 50px auto;
    padding:10px 20px;
    background-color: #f32525;
    border-radius: 8px;
    color: #000;
    bottom: 80px;
    right: 20px;
    
    
}
.form-group {
    margin-bottom: 15px;
}
label {
    display: block;
    margin-bottom: 5px;
}
input[type='text'],
input[type='email'],
textarea {
    width: calc(100% - 20px);
    padding: 10px;
    border: none;
    border-radius: 5px;
    margin-bottom: 10px;
}
input[type='submit'] {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #4e4f97;
    color: white;
}
